@font-face {
    font-family: 'Heavy';
    src: url('/static/typography/Industry-Book.woff2') format('woff2');
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Heavy', Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, 100%);
    display: flex;
    justify-content: center;
    img {
        width: 200px;
    }
    a {
        font-size: 25px;
    }
    button {
        img {
            width: 50px;
        }
    }
}

#hero {
    img {
        width: 100%;
    }
    .card {
        border: none;
        h2 {
            font-size: 3em;
        }
        .card-text {
            padding: 10px 0;
        }
    }
}

#albums {
    background-image: url("/static/img/bandMembers/21.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .card:hover {
        opacity: 0.5;
    }
}

#members {
    background-image: url("/static/img/backgrounds/bg1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .card:hover {
        opacity: 0.5;
    }
}

#video, #contacto, body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, 100%);
}

.socialMedia {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    a img {
        width: calc(100%/5);
        min-width: 50px;
    }
}