@font-face {
  font-family: "Heavy";
  src: url("/static/typography/Industry-Book.woff2") format("woff2");
}

body {
  margin: 0;
  padding: 0;
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, 100%);
  font-family: "Heavy", Arial, Helvetica, sans-serif;
}

$breakpoint-cel: 320px;
$breakpoint-pc: 769px;

@media (min-width: $breakpoint-cel) {
  // Header
  header {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, 100%);
    img {
      width: 125px;
    }
    a {
      font-size: 1.2em;
    }
    button {
      img {
        width: 35px;
      }
    }
  }
  // Hero
  h1 {
    text-align: center;
    margin-bottom: 1em;
  }
  p {
    padding: 0;
    margin: 0;
  }
  .jumbotron {
    padding: 1rem;
    margin-bottom: 0;
    border-radius: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("/static/img/bg1.jpg");
  }
  // Albums
  #albums {
    .card-body {
      background: rgb(2, 0, 36);
      background: linear-gradient(
        0deg,
        rgba(2, 0, 36, 1) 25%,
        rgba(19, 0, 33, 1) 47%,
        rgba(62, 0, 27, 1) 74%,
        rgba(176, 0, 11, 1) 100%
      );
    }
  }
  // Members
  #members {
    .card-body {
      background: rgb(2, 0, 36);
      background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 25%,
        rgba(19, 0, 33, 1) 47%,
        rgba(62, 0, 27, 1) 74%,
        rgba(176, 0, 11, 1) 100%
      );
    }
  }
  // Video
  // #video {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   iframe {
  //     max-width: 426px;
  //     min-width: 320px;
  //     max-height: 240px;
  //     min-height: 180px;
  //   }
  // }
  // Contacto
  // Footer
  footer {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 1) 25%,
      rgba(19, 0, 33, 1) 47%,
      rgba(62, 0, 27, 1) 74%,
      rgba(176, 0, 11, 1) 100%
    );
    margin-top: 100px;
    .container {
      padding-bottom: 20px;
    }
    .socialMedia {
      display: flex;
      justify-content: space-around;
      align-items: center;
      img {
        width: 35px;
      }
    }
  }
}

@media (min-width: $breakpoint-pc) {
  // Header
  header {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.5) 0%, rgba(9, 9, 121, 0.6) 35%, 100%);
    .navbar-nav {
      right: 0;
    }
    img {
      width: 250px;
    }
    a {
      font-size: 25px;
    }
    button {
      img {
        width: 50px;
      }
    }
  }
  // Video
  // #video {
  //   iframe {
  //     max-width: 1280px;
  //     max-height: 720px;
  //   }
  // }
}
